body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 50%;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#date-input {
    width: 90%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}